.spacing {
    margin-top: 20px;
}
.rightshift{
    margin-left: 250px;
}
.leftshift{
    margin-left: 750px;
}
/* for custom spacing make classes similar to the above */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fadein {
    opacity: 0;  /* Start invisible */
    animation: fadeIn 0.5s ease-in-out forwards;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
}

/* Spinner Animation */
.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid transparent;
    border-top: 5px solid white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

/* Keyframes for spinning effect */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Button styling */
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover{
    background-color: #0056b3;
}
.gradient-text{
        background: linear-gradient(45deg, #36151E, #593F62)
}
.gradient-text::after {
    content:'';
    position: absolute;
    bottom: 625px; /* Adjust the position as needed */
    left: 0;
    width: 100%;
    height: 12px; /* Adjust the height as needed */
    background: linear-gradient(90deg, #36151E,#593F62 );
    box-shadow: 0 0 10px #7B6D8D;
    border-radius: 0.5px; /* Optional: Adjust the border radius as needed */
}
.center-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Ensure the container takes the full height */
}
.graduate-regular {
    font-family: "Graduate", serif;
    font-weight: 400;
    font-style: normal;
}
  
